name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Install mingw-w64
        run: |
          sudo apt-get update
          sudo apt-get install -y mingw-w64

      - name: Create certs
        run: make build-certs
      
      - name: Run Makefile
        run: make
